<div class="portraits">
	<%= render :partial => "left_box" %>
	<div class="right_box">
	    <p class="header">Family Package - $350</header>
	    <p class="info single_spaced">
	        They'll never be this age again - capture this moment in your family's 
	        life to treasure for years to come.  Your family photo shoot can be held 
	        in your home, at a special location of your choice, or in my Boulder studio.  Individual 
	        portraits and any combination of family members (including pets and 
	        family friends) will be photographed at your request.
	    </p>
	    <ul>
	        <li>Pre-shoot consultation</li>
	        <li>Photo shoot that lasts as long as the family does!</li>
	        <li>1 8x10</li>
	        <li>2 5x7s</li>
	        <li>2 sets of 4 wallets</li>
	        <li>Online gallery</li>
	   </ul>
	</div>
</div>