<div class="portraits">
	<%= render :partial => "left_box" %>
	<div class="right_box" id="right_box">
		<p class="info">My portrait sessions are designed to be fun and non-intimidating. My goal as a photographer is for you to have a nice experience and portraits that you love. Your satisfaction is always 100% guaranteed.</p>
		<p class="info">The portrait packages listed here are for your convenience. If you don't see one that fits your needs <%= mail_to "shannon@shannonmrush.com", "contact me" %> - I'll be happy to put together a custom package for you.</p>
		<p class="info">Before your photo shoot I will consult with you via phone or email to learn a little bit about you and plan a photo session tailored to suit your needs and preferences.</p>
		<p class="info">After your photo shoot your finished portraits will be available at your own online gallery where you and your loved ones can view your images and order prints.  All of your photo shoots will remain in your gallery with an easy to share link for friends and family.  Your gallery can be password protected at your request.  <%= mail_to "shannon@shannonmrush.com","Contact me"%> to schedule your photography session.</p>
	</div>
	<div class="clear"></div>
	<!-- 
	    <b><%#=link_to "Greeting Cards", :action=> "cards", :format=> "html" %>:</b>
	    <blockquote>
	    <p>
	    Send special greetings complete with your portrait!  Choose from a variety of unique 4 x 8 inch customized <%#=link_to "card styles", :action=> "cards", :format=> "html" %>.
	    </p>   
	    <p>
	    Set of 10 cards with envelopes - $15<br/>
	    </p>
	    </blockquote>
	    <h1>Portrait Packages</h1>
    
	    <p>
	    <blockquote>
	        <a href="#family">Family Package</a>
	        <br/>
	        <a href="#kids">Just The Kids Package</a>
	        <br/>
	        <a href="#high_school">High School Senior Package</a>
	        <br/>
	        <a href="#maternity">Maternity Package</a>
	        <br/>
	        <a href="#holiday">Holiday Package</a>
	        <br/>
	        <a href="#professional">Professional Package</a>
	        <br/>
	        <a href="#pet">Pet Package</a>
	    </blockquote>
	    </p>
    

   

    

      

    
	    <a name="holiday"></a>
	    <span class="h2">Holiday Package - $300</span>
	    <p class="justified">
	        Show off your holiday spirit in style!  Your holiday photo shoot can be 
	        held in your home or at a location of your choice.  Your holiday package 
	        includes an 8x10 print suitable for framing and 20 <%#=link_to "holiday cards", :action=> "cards", :format=> "html" %> available 
	        in a variety of styles and customized with your family name(s).  
	    <p>
	        The Holiday Package includes:
	    </p>
	    <ul>
	        <li>Pre-shoot consultation</li>
	        <li>2 hour photo shoot</li>
	        <li>1 8x10</li>
	        <li>20 <%#=link_to "holiday cards", :action=> "cards", :format=> "html" %></li>
	        <li>Online gallery</li>
	   </ul>

    
	       -->
</div>