<div class="portraits">
	<%= render :partial => "left_box" %>
	<div class="right_box">
 		<p class="header">Just The Kids Package - $250</p>
 		<p class="info single_spaced">Your "Just The Kids, Please!" photo shoot can be held at your home or at a location of your choice.  Your kids and the special things in their lives - favorite books, toys, activities, pets, etc. - will be the focus.  The children will be photographed individually and in groups, with as many clothing changes as you'd like.</p>
		 <ul>
		     <li>Pre-shoot consultation</li>
		     <li>2+ hour photo shoot</li>
		     <li>1 8x10 per child</li>
		     <li>1 set of 4 wallets per child</li>
		     <li>Online gallery</li>
		</ul>
	</div>
</div>