<div class="portraits">
	<%= render :partial => "left_box" %>
	<div class="right_box">
	    <p class="header">Maternity Package - $200</p>
	    <p class="info single_spaced">
	        Capture this special time for you and your family to remember forever.  
	        Your maternity photo shoot can be held in the comfort of your home or 
	        at a location of your choice and can include your partner, children, 
	        and any other special people in your life.
	    </p>
	    <ul>
	        <li>Pre-shoot consultation</li>
	        <li>2 hour photo shoot</li>
	        <li>1 8x10</li>
	        <li>1 5x7</li>
	        <li>Online Gallery</li>
	   </ul>
	</div>
</div>