<div class="portraits">
	<%= render :partial => "left_box" %>
	<div class="right_box">
	    <p class="header">Pet Package - $150</p>
	    <p class="info single_spaced">
	        What could be more fun than a photo shoot with your favorite fuzzy (or feathery 
	        or reptile-y) friends?  Your pet photo shoot can be held at your home or at 
	        a location of your choice.  Makes a great gift for that pet lover (or pet) 
	        that has everything.
	    </p>
	    <ul>
	        <li>Pre-shoot consultation</li>
	        <li>1 hour photo shoot</li>
	        <li>1 8x10</li>
	        <li>Set of 4 wallets</li>
	        <li>Online gallery</li>
	   </ul>
	</div>
</div>