<div class="portraits">
	<%= render :partial => "left_box" %>
	<div class="right_box">
		<p class="header">Prints</p>
		<p class="info single_spaced prints">Your prints are made using the highest quality professional paper, and can be ordered directly from your personal gallery.</p>
		<p class="print_desc">Wallets (set of 4)</p><p class="print_price">$10</p><p class="clear"></p>
		<p class="print_desc">4" x 6"</p><p class="print_price">$15</p><p class="clear"></p>
		<p class="print_desc">5" x 7"</p><p class="print_price">$25</p><p class="clear"></p>
		<p class="print_desc">8" x 10"</p><p class="print_price">$35</p><p class="clear"></p>
		<p class="print_desc">11" x 14"</p><p class="print_price">$45</p><p class="clear"></p>
		<p class="info pricing">Other sizes also available</p>
		<p class="info pricing">Matting and Framing services available</p>
	</div>
</div>