<div class="portraits">
	<%= render :partial => "left_box" %>
	<div class="right_box">
		<p class="header">Prints</p>
		<p class="info single_spaced">Your prints are made using the highest quality professional paper, and can be ordered directly from your personal gallery.</p>
		<ul>
			<li>Wallets (set of 4) - $10</li>
        	<li>4" x 6" - $15</li>
        	<li>5" x 7" - $25</li>
        	<li>8" x 10" - $35</li>
			<li>11" x 14" - $45</li>
        	<li>Other sizes also available - <%= mail_to "shannon@shannonmrush.com","just ask!" %></li>
	</div>
</div>