<div class="portraits">
	<%= render :partial => "left_box" %>
	<div class="right_box">
	    <p class="header">Professional Package - $100</p>
	    <p class="info single_spaced">
	        Is your website or business card photo in need of an update?  This no-frills 
	        package will keep your important marketing materials looking their best.  
	        Your photo shoot will take one hour or less and can be held in your home, 
	        your office, at a location of your choice, or in my Boulder studio.  
	    </p>
	    <ul>
	        <li>Pre-shoot consultation</li>
	        <li>1 hour photo shoot</li>
	        <li>
	            3 sets of your favorite shots
	            <ul class="secondary">
					<li>1 high resolution set suitable for printing</li>
					<li>1 set optimized for the web</li>
					<li>Your choice, with my recommendations if requested</li>
	                <li>Additional shots included at $25 per selection</li>
	            </ul>
	        </li>
	        <li>Online gallery</li>
	   </ul>
	</div>
</div>