<div class="portraits">
	<%= render :partial => "left_box" %>
	<div class="right_box">
	    <p class="header">High School Senior Package - $250</p>
	    <p class="info single_spaced">
	        Your high school senior portrait should be as unique as you are.  
	        Your portrait shoot can be held at one or more locations where 
	        you can show off your hobbies, activities, skills and looks that 
	        make you special.  
	    </p>
	    <ul>
	        <li>Pre-shoot consultation</li>
	        <li>3 hour photo shoot</li>
	        <li>Digital files or prints needed by your school</li>
	        <li>8 x 10 print</li>
	        <li>2 sets of 4 wallets</li>
	        <li>Online gallery</li>
	   </ul>
	    <p class="info single_spaced">
	        Refer a friend and receive 25% off the cost of your package.  
	        Refer two and your discount is 50%.  Refer three to receive 75% off and 
	        refer 4 or more and your package is FREE. 
	    </p>
	    <ul>
	        <li>Friends must purchase package to qualify</li>
	        <li>Friends can schedule their shoot anytime.  There are no time limitations.</li>
	        <li>
	            Already paid for your package?  No problem.  Receive your discount 
	            as a refund in cash or prints - Your choice!
	        </li>
	    </ul>
	</div>
</div>