<p class="download"><%= link_to image_tag("download_mls.png"), "/zip/#{@shoot.zip_name}_mls" %></p>
<p class="download"><%= link_to image_tag("download_print.png"), "/zip/#{@shoot.zip_name}_print" %></p>