<div class="galleries">
	<div class="left_box">
		<%= render :partial => "left_box"%>
	</div>
	<div class="right_box">
		<p class="info">Your client gallery is created after your first session with Shannon M Rush Photography and will remain available, with an easy link to share with friends and family.</p>
		<p class="info">All of your additional photo shoots will be added to your gallery.  You can view all of your finished photos and easily order prints.  You can also place an order using the <%= link_to "offline order form", "/pdf/order_form.pdf" %> if you prefer.</p>  
	</div>
</div>