<script type="text/javascript">
$(document).ready(function() {
	img1 = new Image();
    img1.src = "/images/self.png";
      $(img1).load(function() {
		$('#self').fadeIn()
	  });
    });
</script>
<div class="about">
	<div class="self"><%= image_tag('self.png', :id => "self", :style => "display:none;")%></div>
	<div class="right_box">
		<p class="info">Photography, for me, is more than just "taking pictures."  Photography is 
		capturing a person in a moment in time - revealing what they look like certainly 
		and, hopefully, a little bit about who they are.  Rather than "taking" a picture, 
		a portrait gives this moment back to that person, to be kept for years to come.</p>
		<p class="info">I have an artistic, spontaneous style.  I will never ask you to sit and smile at the camera - no one needs more "camera smile" pictures!  My photo sessions - for families, models, professionals, and everyone - are designed to be friendly, fun and non-intimidating.  And of course your satisfaction is guaranteed!</p>
		<p class="info testimonial single_spaced">“Shannon is a wonderful photographer. She has an eye for and ability to capture alluring and intriguing pictures. Not only does she create a wonderful end product, but her friendly demeanor makes her a pleasure to be around.” -- Kala Boucher</p>
	</div>
	<div class="clear"></div>
</div>